.overlay {
    position: fixed;
    inset: 0;
    background-color: #26262699;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5000;
}

.alertBox {
    background-color: #363636;
    width: 354px;
    border-radius: 15px;
    box-shadow: 5px 0 5px 2px #202020;
}

.alertBoxTitle {
    text-align: center;
    padding: 12px;
    background-color: #454545;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 5px 0 5px 2px #202020;
    margin-bottom: 24px;

    h3 {
        margin: 0px;
        font-size: 24px;
        font-weight: 400;
    }
}

.alertBoxRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    padding-left: 48px;
    padding-right: 48px;
    font-size: 18px;
}

.pass {
    color: green;
}

.fail {
    color: red;
}

.buttonContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.dismissButton {
    background-color: #e74751;
    margin: 24px;
    margin-top: 12px;
    font-size: 18px;
}