.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  width: 100vw;
  background-color: #363636;
  font-size: 24px;
}

.logo {
  width: 63px;
  height: 53px;
  margin: 12px;
}

.profileButton {
  margin-left: auto;
  margin-right: 24px;
  background: none;
  border: none;
  padding: 0;
}