// Main sidebar component styling

.sideBar {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 92vh;
    width: 188px;
    border-right-width: 2px;
    border-right-style: solid;
    border-color: #363636;
    overflow-y: auto;
}

.titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: #363636;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    width: 100%;
}

.dropdownTitle {
    background: none;
    font-size: 18px;
    padding: 18px 20px;
    width: 100%;
    border-radius: 0px;
    cursor: pointer;
    transition: background-color 0.15s ease;
}

.dropdownTitle:hover {
    background-color: #2a2a2a;
}

.option {
    background: none;
    width: 175px;
    font-size: 16px;
    width: 100%;
    border-radius: 0px;
    transition: background-color 0.15s ease, color 0.15s ease;
}

.option:hover {
    background-color: #2a2a2a;
}

.option.active {
    background-color: #2a2a2a;
    border-left: 3px solid #e74751;
    padding-left: 13px;
}

.arrow {
    rotate: 180deg;
    padding-left: 3px;
    transition: transform 0.2s ease;
}

.arrow.open {
    transform: rotate(180deg);
}

.dropdownList li:last-child .option {
    border-radius: 0px;
    border-bottom: 2px solid #363636;
}

.sidebarDropdown {
    width: 100%;
}