.sideBar {
    position: absolute;
    padding-top: 6px;
    height: 90vh;
    border-right-width: 2px;
    border-right-style: solid;
    border-color: #363636;
}

.option {
    background: none;
    padding: 6px;
    width: 175px;
    font-size: 18px;
    margin: 6px;
}

.option:hover {
    background-color: #363636;
}

.lecturerMenuTitle {
    display: flex;
    justify-content: center;
    border-top: #363636;
    border-width: 2px;
    border-top-style: solid;
    border-bottom: #363636;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-top: 24px;
    padding-bottom: 24px;
}