.main {
  overflow: hidden;
  height: 100vh;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul button.problem {
  background-color: #363636;
}

ul button.problem:nth-child(even) {
  background-color: #262626;
  box-shadow: none;
}

.problemList {
  margin: auto;
  margin-top: 10%;
  width: 50%;
  padding: 12px;
  height: 68vh;
  scrollbar-width: none;
  overflow-y: auto;
}

.problem {
  align-items: center;
  background-color: #363636;
  box-shadow: 5px 0 5px 2px #202020;
  border-radius: 15px;
  font-size: 18px;
  padding: 10px;
  padding-left: 48px;
  width: 100%;
  text-align: left;
  display: flex;
}

.problemListItem {
  margin-left: 6px;
  color: #626262;
}

.stars {
  margin-left: auto;
}

.star {
  margin: 3px;
}

.title {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
  border-bottom: #363636;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}