.resultScreenBody {
    display: flex;
    flex-direction: row;
    width: auto;
}

.resultBody {
    margin-top: 24px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    color: #dedede;
    box-shadow: 5px 0 5px -2px #202020;
    background-color: #363636;
    border-radius: 15px;
    width: 100%;
    height: 790px;
}

.resultHeader {
    background-color: #454545;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin: 0px;
    font-size: 18px;
    box-shadow: 5px 0 5px 2px #202020;
    display: flex;
    flex-direction: row;
    width: auto;
    padding-left: 12px;
}

.submittedCode {
    background-color: #262626;
    border-radius: 12px;
    padding: 12px;
    font-family: 'Courier New', Courier, monospace;
    width: 800px;
    height: 416px;
}

.testCaseResult {
    background-color: #262626;
    box-shadow: 5px 0 5px 2px #202020;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 24px;
}

.resultData {
    margin: 0px;
    padding-left: 12px;
}