.resultsBody {
    margin-left: 212px;
    margin-top: 24px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    color: #dedede;
    box-shadow: 5px 0 5px -2px #202020;
    background-color: #363636;
    border-radius: 15px;
    width: auto;
    height: auto;
}

.resultsHeader {
    background-color: #454545;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin: 0px;
    font-size: 18px;
    box-shadow: 5px 0 5px 2px #202020;
    display: flex;
    flex-direction: row;
    width: auto;
    padding-left: 12px;
}

.resultsContent {
    padding: 24px;
    padding-top: 12px;
}

.tableWrapper {
    width: 100%;
    max-height: 700px;
    overflow: auto;
}

.resultsTable {
    width: 100%;
    border-collapse: separate;
    border: none;
    border-spacing: 0 0px;
    min-width: max-content;
}

.staticColumn {
    text-align: start;
    padding: 12px;
}

.roundedLeft {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.resultColumn {
    text-align: start;
    padding: 0px;
    cursor: pointer;
}

.resultColumn button {
    width: 100%;
    height: 100%;
    text-align: start;
    background: none;
    padding: 12px;
    font-size: 16px;
}

.totalResultColumn {
    text-align: center;
}

.resultsRow:nth-child(odd) td {
    background-color: #363636;
}

.resultsRow:nth-child(even) td {
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: #262626;
    box-shadow: none;
}

.resultsRow:nth-child(even) .resultColumn:hover {
    background-color: #2a2a2a;
}

.resultsRow:nth-child(odd) .resultColumn:hover {
    background-color: #3a3a3a;
}

.resultsRow td:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.lastResultTableHeading {
    padding-left: 12px;
    padding-right: 12px;
}

.stickyRight {
    position: sticky;
    right: 0;
    background-color: #363636;
    z-index: 2;
}

.resultsTable thead .stickyRight {
    z-index: 3;
    background-color: #363636;
}


.downloadButton {
    width: 276px;
    height: 46px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    display: flex;
    background-color: #e74751;
    margin-top: 12px;
}